body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#emailInput:focus {
  border: white solid 4px;
}
#emailInput:hover {
  border: solid white 4px;
  transition-duration: 0.3s;
}
#emailInput {
  width: 250px;
  height: 34px;
  background-color: black;
  border: white solid 2px;
  color: white;
  outline: 0;
}
#footerSubscribe {
  border: white solid 2px;
  width: 250px;
  height: 34px;
  background-color: black;
  color: white;
}

#footerSubscribe:hover {
  transition-duration: 0.5s;
  background-color: aliceblue;
  color: red;
}
#toBlogsBtn {
  border: none;
  background-color: aqua;
  width: 353px;
  height: 50px;
  color: black;
  display: block;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}
#toBlogsBtn:hover {
  transition-duration: 0.3s;
  font-size: 17px;
  color: red;
}
